.line-wrap {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    
    *{
        transition: all .4s;
    }
   

    &.empty{
        opacity: .6;
    }
    &-header {
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        

        & p {
            font-weight: 600;
            
            
        }

        & svg {
            height: 1.5rem;
        }

        & .line-velo{
            background-color: #2b4794;
            color: white;
        }

        & .line-C4 {
            background-color: #6f2282;
            color: #ffffff;
        }
        

        & .line-C6 {
            background-color: #61c3d9;
            color: #1a171b;
        }

        & .line-10{
            background-color: #ef859d;
            color: #1a171b;
        }

        & .line-14 {
            background-color: #a96f23;
            color: #ffffff;
        }

        & .line-67 {
            background-color: #e4003a;
            color: #ffffff;
        }

        & .line-b {
            background-color: #00893e;
            color: #ffffff;
        }
    }

    &-content{
        display: flex;
        gap: .75rem;
        flex-wrap: wrap;

        &.line-b {
            & .line-wrap-content-way-departures{
                grid-template-columns: repeat(2,1fr);
            }
        }
        
      
        
        
        &-way {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            flex-grow: 1;
            gap: .2rem;
    
            &-header {
                display: flex;
                gap: .2rem;
                padding: .5rem 0;
                align-items: center;
                overflow: hidden;
                
    
                & p {
                    font-weight: 600;
                    font-size: 1.1rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                   

                }
            }
    
            &-departures {
                display: flex;
                gap: .2rem;
                flex-grow: 1;
                
            }
        }
    }

    

   
}

.label {
    padding: 0.75rem;
    font-weight: 500;
    text-align: center;
    min-width: 0;
    line-height: 120%;
    flex: 1;
    border-radius: 10.25rem;
    min-height: calc(1rem * 1.2 + .75rem * 2);
}